img {
    width: 30%;
    /*margin: 1.6666%;*/
    margin: calc(10%/6);
    /* margin: (placement; 6 sides of margin)10% 10% 10% 10% 10% 10% (10/6=1.6666%); */
    /* width = 30 30 30  */
    /*10 left of screen */


}

nav {
    text-transform: uppercase;
    border-bottom: 2px #f1f1f1 solid;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2px 0;
    font-family: 'raleway', sans-serif;
    font-size: 1.5em;

}